@font-face{
	font-family: 'Aller-Italic';
	font-family: 'Aller';

}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
body, html {
	min-width: 1400px;
	min-height: 2341px;
	margin: 0;
	padding: 0;
	font-family: "Aller", "Arial", sans-serif;
	font-weight: 400;
}
body {
	color: #fff;
}
.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
.main-header {
	background-color: #242424;
	min-height: 45px;
}
.main-logo-link {
	width: 660px;
	min-height: 45px;
	float: left;
}
.user-registration {
	width: 180px;
	min-height: 45px;
	float: right;
}
.main-navigation-list li  {
	border-left: 1px solid #eeeeee;
	display: inline-block;
	min-height: 60px;
	min-width: 70px;
}

ul.main-navigation-list {
	padding: 0;
	margin: 0;
}
.main-navigation-item a {
	
	padding: 21px 18px 21px 23px;
	display: block;
	text-decoration: none;
	color: #242424;
	font-size: 16px;
	font-weight: 400;
}
.main-navigation-item:last-child {
	border-right: 1px solid #eeeeee;
}
.userblockposition-login {
	display: inline-block;
	padding: 16px;
	margin-left: 46px;
	color: #eeeeee;
	font-size: 11px;
}
a.login  {
	color: #7e7e7e;
	text-decoration: none;
	font-weight: 400;
}
.login span {
	text-transform: uppercase;
}
.userblockposition-wishlist {
	padding: 20px;
	display: inline-block;
	
}
.userblockposition-basket {
	display: inline-block;
	float: right;
	padding: 20px;
}
h1 {
	line-height: 40px;
	padding: 0;
	margin: 0;
	font-size: 40px;
	font-family: "Aller Light", "Arial", sans-serif;
	font-weight: 300;
}
.banner p {
	line-height: 25px;
	margin: 0;
	font-size: 20px;
	font-family: "Aller Light", "Arial", sans-serif;
	font-weight: 300;
}
.slider-tag {
	padding-bottom: 6px;
}

.main-logo-link a {
	margin: 0;
	padding: 0;
}
.main-logo-link img {
	padding-top: 12px;
}
.layermenu {
	min-width: 1400px;
	background-color: #ffffff;
}
.main-navigation {
	
	float: left;
	width: 700px;
	min-height: 60px;
}
.user-block {
	float: right;
	width: 150px;		
}
.userblockposition-wishlist {

}
.userblockposition-basket {

}
.slide {
	display: inline-block;
	margin-top: 30px;
	min-height: 60px;
	min-width: 184px;
	text-align: center;
}
.slide:last-child {
	margin-right: 0px;
}
div#slide3.slide {
	padding-left: 3px;
}
div#slide4.slide {
	padding-left: 1px;
}
.slide-title a {
	width: 170px;
	color: #929292;
	display: block;
}
a.slide-title:hover {
	color: #fff;
}
.link-small:hover {
	color: #fff;
}
.slide-title p.link-small {
	font-size: 12px;
	margin: 0;
	color: #adadad;
}
.slide-title p {
	display: block;
	min-width: 119px;
	padding-bottom: 5px;
	margin: 0;
	font-size: 18px;
}
.ground-color {
	display: block;
	min-height: 90px;
	background-color: #2e2e2e;
}
.slider {
}
.slide-text {
	padding-top: 90px;
	width: 387px;
	padding-left: 29px;
}
.site-wrapper {
	color: #eeece8;
	min-width: 460px;
	background-image: url("../img/womenandshoose.jpg");
	background-repeat: no-repeat;
}
.site-back1 {
	background-color: #2e2e2e;
	display: inline-block;
	min-width: 1400px;
}
.site-back2 {
	color: #fff;
	background-color: #ebe7df;
}
.slide-link, .slide-title {
	display: inline-block;
	color: #adadad;
	text-decoration: none;
}
.slider-controls {

}
.banner {
	position: relative;
	height: 401px;
	float: right;
	margin-top: 60px;
	color: #000;
	width: 460px;
}
.layerfooter {
	background-color: #242424;
}
article h2 {
	margin: 0;
}
.datatwo p {
	margin-bottom: 0;
}
.specials {
	display: inline-block;
	margin: 0 auto;
	min-height: 230px;
	display: block;
	background-color: #242424;
}
.onsale {
	position: relative;
	margin-top: 25px;
	margin-right: 20px;
	float: left;
	width: 300px;
	min-height: 180px;
	background-image: url("../img/shoosesimage.png");
	background-repeat: no-repeat;
}
.special-offers {
	margin-top: 25px;
	position: relative;
	float: left;
	width: 300px;
	min-height: 180px;
	background-image: url("../img/specialoffers.png");
	background-repeat: no-repeat;
}
.special-offers a.get-choise {
	min-width: 230px;
	margin-left: 35px;
}
.must-have {
	position: relative;
	margin-top: 25px;
	float: right;
	width: 300px;
	min-height: 180px;
	background-image: url("../img/musthave.png");
	background-repeat: no-repeat;
}
a.get-choise {
	font-family: "Aller Light", "Arial", sans-serif;
	font-weight: 300;
	text-align: center;
	color: #fff;
	text-decoration: none;
	margin: 60px;
	display: inline-block;
	position: absolute;
	min-width: 180px;
	height: 60px;
	background-color: #242424;
	opacity: 0.9;	
	vertical-align: middle;
}
.get-choise span {
	margin-top: 17px;
	display: inline-block;
	vertical-align: middle;
	min-width: 180px; 
	font-size: 25px;
	text-transform: uppercase;
}
.mini-gellery {
	display: block;
	color: #000;
	min-height: 761px;
	border-bottom: 1px solid #bcb5a7;
	padding-bottom: 4px; 
}
a.btn-show {
	text-decoration: none;
	font-size: 15px;
	line-height: 25px;
	color: #bcb5a7;
	margin-top: 29px;
	padding: 2px 19px 1px 20px;
	border: 1px solid #bcb5a7;
	float: right;
	display: inline-block;
	
}
.mini-gellery h3 {
	margin: 0px;
	min-width: 350px;
	padding: 30px 0px 28px 0;
	font-size: 25px;
	font-family: "Aller Light", "Arial", sans-serif;
	font-weight: 300;

}
section.new-arrivals {
	display: block;
	width: 940px;
	padding-bottom: 7px;

}
section.bestseller-hit {
	display: block;
	width: 940px;

}
.arrival-hit {
	position: relative;
	min-height: 250px;
	width: 260px; 
	display: inline-block;
	font-size: 16px;
	text-align: center;
	padding-right: 58px; 
}
.arrival-hit:last-child {
	padding-right: 20px; 
}
.bestseller-hit:last-child {
	padding-right: 20px;
}
.bestseller-hit:nth-child(2n) {
	padding-right: 55px; 
}
.arrival-hit:nth-child(2n) {
	padding-right: 55px; 
}
.bestseller-hit {
	position: relative;
	min-height: 250px;
	width: 260px; 
	display: inline-block;
	font-size: 16px;
	text-align: center;
	padding-right: 58px; 
}
.arrival-hit:last-child, .bestseller-hit:last-child {	
	margin-right: 0px;
}
.price-board {
	padding: 0;
	margin: 0;
	background-color: #fff;
	position: relative;
	display: block;
	width: 300px;
	height: 49px;
}
.price-board > a, .price-board > a {
	display: inline-block;
	
	text-decoration: none;
	color : #000;
	padding: 0;
	margin: 0;
	padding-top: 14px;
}
.arrival-hit > img, .bestseller-hit > img {
	padding: 0;
	display: block;
	margin: 0;
	font-size: 0px;
	min-height: 220px;
	border-bottom: 1px solid #cccccc;
}
.price, .sale-marker, .stock-marker {
	display: inline-block;
	margin: 0;
	position: absolute;
}
div.stock-marker {
	display: inline-block;
	min-width: 50px;
	min-height: 31px;
	right: -8px;
	top: 23px;
	text-transform: uppercase;
	background-color: #f27e4b;
	font-size: 13px;
	color: #fff;
	padding: 18px 9px;
	line-height: 15px;
	font-weight: 400;
	margin-top: -22px;
}
.sale-marker {
	text-transform: uppercase;
	background-color: #242424;
	font-size: 13px;
	color: #fff;
	padding: 21px 7px;
	line-height: 25px;
	font-weight: 400;
	right: 28px;
	top: 22px;
	margin-top: -22px;
}
.price {
	box-sizing: border-box;
	left: 12px;
	top: -18px;
}
.banner p.price {
	position: absolute;
	padding: 21px 9px;
	height: 67px;
	width: 69px;
	left: 30px;
	top: 10px;
}
p.price {
	position: absolute;
	display: inline-block;
	padding: 27px 7px;
	color: #fff;
	background-color: #57c5a0;
	font-size: 13px;
	margin: 0;
	height: 67px;
	width: 69px;
}
.addon {
	color: #000;
	padding-top: 25px;
	padding-bottom: 23px;
}
.addon h2 {
	padding-top: 6px;
	font-size: 14px;
	text-transform: uppercase;

}
.addon p {
	font-size: 12px;
}
.addon-first p {
	width: 180px;
}
.addon-first {
	padding: 25px 10px 20px 14px;
	margin-right: 20px;
	min-height: 140px;
	line-height: 16px;
	width: 195px;
	float: left;
	background-color: #dfdbd4;
}
.addon-second {
	padding: 25px 15px 20px 16px;
	width: 187px;
	float: left;
	line-height: 16px;
	background-color: #dfdbd4;
	min-height: 140px;
}
.addon-second span {
	font-style: italic;
}
.addon-second p {
	margin-bottom: 0px;
}
.addon-second p:last-child {
	margin-top: 7px;
}
.addon-news {
	padding: 25px 15px 20px 17px;
	width: 428px;
	min-height: 140px;
	float: right;
	line-height: 16px;
	background-color: #dfdbd4;
}
div.datatwo, div.dataone {
	display: block;
	padding-left: 45px;
	min-width: 354px;
}
div.dataone {
	padding-top: 23px;
}
.dataone b, .datatwo b {
	font-size: 14px;
}
.addon .dataone p, .addon .datatwo p {
	font-size: 12px;
	padding: 0;
	margin: 0;
}
.addon .dataone p:last-child {
	padding-bottom: 18px;
} 
footer {
	min-height: 454px;
	color: #929292;
}
.text-widget h2, .twitter-widget h2,.flickr-widget h2  {
	display: inline-block;
	
	font-size: 14px;
	text-transform: uppercase;
	color: #7d7d7d;
}
.text-widget p, .twitter-widget p,.flickr-widget p {
	font-size: 12px;
	font-style: italic;
}
.text-widget p {
	display: block;
	line-height: 18px;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 0px;
	margin-top: 17px;
	min-height: 110px;
	width: 265px;
}
article.text-widget {
	width: 302px;
	float: left;
}
.wrapper-mini {
	margin-top: 17px;
}
article.twitter-widget {
	line-height: 18px;
	width: 250px;
	float: left;
	margin-right: 17px;
}
.twitter-widget p {
	margin-bottom: -2px;
	margin-top: 10px; 
}
.twitter-widget span {
	color: #57c5a0;
}
.flickrs {
	padding-right: 4px;
	padding-bottom: 9px;
}
.flickrs {
	display: inline-block;
	width: 76px;
	height: 56px;
}
.flickr-widget {
	width: 254px;
	float: right;
}
.flickr-widget h2 {
	display: block;
	margin-bottom: 20px;
	padding-left: 0px;
}
.prefooter {
	padding: 48px 30px 30px 42px;
}
.footer-main .newsletter {
	font-style: italic;
	color: #7d7d7d;
	font-size: 12px;
	line-height: 18px;
	width: 190px;
	float: left;
	padding: 9px 12px;
	margin-top: 40px;
	margin-left: 40px; 
	background-color: #2e2e2e;
}
.social-space {
	width: 280px;
	float: 	right;		
}
.footer-main {
	min-height: 120px; 	
}
div.footerlayer {
	border-top: 1px solid #1c1c1c;
}
div.footerlayertwo {
	background-color: #2e2e2e;
}
.copyright {
	color: #929292;
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
	display: block;
	width: 300px;
	float: 	left;
	margin-top: 25px;			
}
.copyright p {
	margin: 0;	
	margin-bottom: 2px;
	padding: 0;	
}
.breadcrumbs {
	
	width: 330px;	
}
.breadcrumbs li {
	text-decoration: none;
	display: inline;
	list-style-type: none;
}
ul.breadcrumbs {
	float: 	right;
	margin: 0;
	margin-top: 33px;
	margin-left: 8px;	
	padding: 0;	
}
.breadcrumbs a {
	color: #929292;
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
	text-decoration: none;
}